@import 'normalize';

$paddingSize:50px;
$colorPrimary:#63d491;

body,html{
  position: relative;
  height:100%;
}

header, footer{
  height: $paddingSize;
  overflow: hidden;
  width:100%;
  z-index:3;
  background-color:#fff;
  position: fixed;
  line-height:$paddingSize;
  padding:0 $paddingSize;

  *{
    margin:0;
    padding:0;
  }

}

footer{
  bottom:0px;
}

#wrapper{
  margin: 0 $paddingSize;
  padding-bottom:$paddingSize;
  padding-top:$paddingSize;
  background-color:#dfdfdf;
}
