@import "compass/css3/transition";

.progressive-zoom-wrap {
  position: absolute;
  @include transition(all 1500ms ease-out);
  width: 0;
  height: auto;

  img {
    position: absolute;
    width: 100%;
    height: auto;

    &.thumb {
    }

    &.full {
      @include transition(all 1500ms ease-out);
      opacity: 0;
    }
  }

  .progressive-zoom-progress {
    position: absolute;
    width: 0;
    height: 2px;
    @include transition(all 100ms ease-out);
    background-color: #0f0;
    border-bottom: 1px solid #000;

    &.done {
      @include transition(all 2s ease-out);
      opacity: 0;
    }

    &.error {
      background-color: #f00;
    }
  }
}