@import "compass/css3/transition";

$transition-speed-to-fullscreen: 3000ms;

.progressive-zoom-wrap {
  position: absolute;
  @include transition(all $transition-speed-to-fullscreen ease-out);
  height: auto;

  img {
    position: absolute;
    width: 100%;
    height: auto;

    &.full {
      @include transition(all ($transition-speed-to-fullscreen) ease-out);
      opacity: 0;

    }
  }

  .progressive-zoom-progress {
    position: absolute;
    width: 0;
    height: 2px;
    @include transition(all 100ms ease-out);
    background-color: #0f0;
    border-bottom: 1px solid #000;
  }

  &.done {
    .full {
      opacity: 1;
    }

    .progressive-zoom-progress {
      @include transition(all 2s ease-out);
      opacity: 0;
    }
  }

  &.error .progressive-zoom-progress {
    background-color: #f00;
  }
}